.alert-modal {
    display: flex;
    justify-content: center;
    height: initial;
    position: fixed;
    font-weight: bold;
    // left: 2rem;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 1050;
    top: 10px;
    border-radius: 5px;
    border: 2px solid $success;
    background: $white;
    width: 80%;
    max-width: 400px;
    padding: 1rem;
    animation: fade-in-out 10s;
    opacity: 0;
    transform: translateY(-200%);
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;

    @media (max-width: $breakpoint-m) {
        width: 50%;
    }

    @keyframes fade-in-out {
        0% {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-200%);
        }
        10% {
            opacity: 1;
            visibility: initial;
            transform: translateY(0%);
        }
        90% {
            opacity: 1;
            visibility: initial;
            transform: translateY(0%);
        }
        100% {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-100%);
        }
    }

    &:hover {
        cursor: pointer;
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
    }
}

.warning-modal {
    @extend .alert-modal;
    color: $gray-900;
    border: 2px solid $danger;
    animation: fade-in-out 12s;
}
